{{- if and .SSLCertContent .SSLKeyContent }}
apiVersion: v1
kind: Secret
metadata:
  name: catalog-caddy-ssl-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
stringData:
  tls.crt: |-
{{ .SSLCertContent }}
  tls.key: |-
{{ .SSLKeyContent }}
{{- end }}
