{{- if and .Values.caddy.sslCertContent .Values.caddy.sslKeyContent }}
apiVersion: v1
kind: Secret
metadata:
  name: catalog-caddy-cert-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
stringData:
  tls.crt: |-
{{ .Values.caddy.sslCertContent }}
  tls.key: |-
{{ .Values.caddy.sslKeyContent }}
{{- end }}
