apiVersion: v1
kind: Pod
metadata:
  name: "maac-opensearch--ingest-docs"
  labels:
    ai-services.io/application: "maac-opensearch"
    ai-services.io/template: "rag"
    ai-services.io/version: "0.0.1"
  annotations:
    ai-services.io/start: "off"
spec:
  containers:
    - name: ingest-docs
      image: "icr.io/ai-services-private/rag:v0.0.25"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "ingest.cli"
        - "ingest"
      resources:
        requests:
          memory: "50Gi"
        limits:
          memory: "50Gi"
      env:
        - name: EMB_ENDPOINT
          value: "http://maac-opensearch--vllm-server:8001"
        - name: EMB_MODEL
          value: "ibm-granite/granite-embedding-278m-multilingual"
        - name: EMB_MAX_TOKENS
          value: "512"
        - name: LLM_ENDPOINT
          value: "http://maac-opensearch--vllm-server:8000"
        - name: LLM_MODEL
          value: "ibm-granite/granite-3.3-8b-instruct"
        - name: OPENSEARCH_HOST
          value: "maac-opensearch--opensearch"
        - name: OPENSEARCH_PORT
          value: "9200"
        - name: OPENSEARCH_DB_PREFIX
          value: "RAG_DB"
        - name: OPENSEARCH_COLLECTION_NAME
          value: "maac-opensearch"
        - name: OPENSEARCH_USERNAME
          value: "admin"
        - name: OPENSEARCH_PASSWORD
          value: "AiServices@1234"
        - name: LOG_LEVEL
          value: "INFO"
      volumeMounts:
        - mountPath: /var/docs:z
          name: docs
          readOnly: true
        - mountPath: /var/cache:z
          name: cache
  restartPolicy: Never
  volumes:
    - name: docs
      hostPath:
        path: "/var/lib/ai-services/applications/maac-opensearch/docs"
        type: DirectoryOrCreate
    - name: cache
      hostPath:
        path: "/var/lib/ai-services/applications/maac-opensearch/cache"
        type: DirectoryOrCreate
