@use "@carbon/react/scss/spacing";
@use "@carbon/react/scss/type";

.panelContent {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-06;
}

.header {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-07;
  padding-bottom: spacing.$spacing-06;
  border-bottom: 1px solid var(--cds-border-subtle-01);
}

.description {
  @include type.type-style("body-01");
}

.tags {
  display: flex;
  align-items: center;
  gap: spacing.$spacing-06;
}

.certifiedTag {
  display: inline-flex;
  align-items: center;
  gap: spacing.$spacing-02;
  @include type.type-style("body-short-01");
}

.badgeIcon {
  color: var(--cds-support-success);
}

.domainSection,
.demoSection,
.storiesSection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--cds-border-subtle-01);
}

.domainSection {
  gap: spacing.$spacing-02;
  padding-bottom: spacing.$spacing-07;
}

.domainSectionTitle {
  @include type.type-style("label-01");
}

.domainList {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    @include type.type-style("body-01");
  }
}

.demoSection {
  gap: spacing.$spacing-05;
  padding-bottom: spacing.$spacing-07;
}

.demoSectionTitle {
  @include type.type-style("heading-compact-02");
}

.demoButton {
  justify-content: flex-start;
  max-width: fit-content;
}

.storiesSection {
  gap: spacing.$spacing-05;
  border-bottom: none;
  padding-bottom: 0;
}

.storiesSectionTitle {
  @include type.type-style("heading-02");
}

.storyCompany {
  @include type.type-style("heading-01");
}

.storyDescription {
  @include type.type-style("body-01");
}

.storiesContainer,
.story {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-04;
}
