# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.rpm
*.deb
*.bin

# Test binaries
*_test

# To ignore all binaries:
bin/*

# IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Coverage files
coverage.out
coverage.html

spec/*