apiVersion: v1
kind: Secret
metadata:
  name: "digitize-db-encryption-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  db-encryption-key: "{{ .Values.digitize.dbEncryptionKey }}"
