apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--instruct-cpu"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    ai-services.io/model: ibm-granite/granite-3.3-8b-instruct
spec:
  volumes:
    - name: models
      hostPath:
        path: "/var/lib/ai-services/models"
        type: Directory
  containers:
    - name: instruct-cpu
      image: "{{ .Values.instruct.image }}"
      args:
      - --model
      - /models/ibm-granite/granite-3.3-8b-instruct
      - --served-model-name
      - ibm-granite/granite-3.3-8b-instruct
      - --max-num-batched-tokens=26208
      - --max-model-len=26208
      - --port=8000
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 12
      env:
      - name: VLLM_CPU_OMP_THREADS_BIND
        value: auto
      - name: VLLM_CPU_KVCACHE_SPACE
        value: "32"
        {{- /* Check if .env.instruct exists and is a non-empty map */}}
        {{- with .env.instruct }}
          {{- /* If it does, '.' (dot) is now scoped to .env.instruct */}}
          {{- range $k, $v := . }}
      - name: {{ $k }}
        value: "{{ $v }}"
          {{- end }}
        {{- end }}
      resources:
        requests:
          memory: "100Gi"
        limits:
          memory: "100Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
