apiVersion: v1
kind: Secret
metadata:
  name: worker-mtls-encryption-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  mtls-encryption-key: "{{ .Values.worker.mtlsEncryptionKey }}"
