apiVersion: v1
kind: Secret
metadata:
  name: worker-token-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  token: "{{ .Values.worker.token }}"
