name: Spyre RAG
on:
  push:
    paths:
      - 'spyre-rag/src/**'
    branches:
      - main
  workflow_dispatch:
    inputs: {}

env:
  ICR_REGISTRY: icr.io
  ICR_NAMESPACE: ai-services-cicd

jobs:
  build-publish-image:
    name: Build and Publish Image
    runs-on: ubuntu-24.04-ppc64le

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: login
        run: podman login -u ${{ secrets.ICR_USERNAME }} -p "${{ secrets.ICR_APIKEY }}" icr.io
      - name: pull
        run: podman pull icr.io/ai-services-cicd/rag:v0.0.12

      - name: Trivy vulnerability scan
        id: trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: icr.io/ai-services-cicd/rag:v0.0.12
          format: sarif
          output: trivy-results.sarif
          severity: HIGH,CRITICAL
          exit-code: 1
      - name: Upload SARIF to GitHub Security Tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: trivy-results.sarif

